<div
  class="flex items-center bg-white p-4 rounded-lg shadow notify-itm"
  id="notify-itm-<%=notification.id%>"
>
  <img
    src="https://via.placeholder.com/50"
    alt="User Avatar"
    class="w-10 h-10 rounded-full"
  />
  <div class="ml-4">
    <p class="text-gray-700"><%-notification.message %></p>
    <p class="text-sm text-gray-500">
      <%=notification.createdAt.toDateString() %>
    </p>
    <button
      class="text-blue-400 text-right text-xs"
      onclick="handleMarkReadNotifications('single', '<%=notification.id%>')"
    >
      mark read
    </button>
  </div>
</div>
