<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Footer Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
    />
  </head>
  <body>
    <!-- Footer -->
    <div id="footer" class="bg-gradient-to-r bg-sky-950 p-6 mt-20 text-white">
      <div class="flex flex-wrap justify-center space-x-6">
        <ul class="flex flex-wrap space-x-6">
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >About us</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Support</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Blog</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Press</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >API</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Jobs</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Privacy</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Terms</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Directory</a
            >
          </li>
          <li>
            <a
              href="#"
              class="hover:underline hover:text-sky-300 transition duration-300"
              >Language</a
            >
          </li>
        </ul>
      </div>
      <div class="text-center mt-6">
        <div class="flex justify-center space-x-4 mb-4">
          <a
            href="#"
            class="text-white hover:text-sky-300 transition duration-300"
            ><i class="fab fa-facebook-f"></i
          ></a>
          <a
            href="#"
            class="text-white hover:text-sky-300 transition duration-300"
            ><i class="fab fa-twitter"></i
          ></a>
          <a
            href="#"
            class="text-white hover:text-sky-300 transition duration-300"
            ><i class="fab fa-instagram"></i
          ></a>
          <a
            href="#"
            class="text-white hover:text-sky-300 transition duration-300"
            ><i class="fab fa-linkedin-in"></i
          ></a>
        </div>
        <p class="text-sm">
          <a
            href="https://www.friendzy.com"
            class="hover:underline hover:text-sky-300 transition duration-300"
          >
            &copy; 2024 Friendzy
          </a>
        </p>
      </div>
    </div>
  </body>
</html>
